
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.navbar{
    height: 50px;
    background-color: #1F3A5F;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}
.navItems{
    align-items: end;
    display: flex;
    gap:10px;
    
}

.navButton{
    background-color: #4296cd;
    color: white;
    font-weight:500;
    border: none;
    padding:10px;
    cursor: pointer;
}